body {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid rgb(0, 0, 0);
    
}

h1 {
    color: red;
    text-align: center;
}

thead{
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: rgb(5, 5, 5);
}

tbody {
    font-family: verdana;
    font-size: 20px;
    text-align: center;
    color: rgb(167, 5, 113);
}

table {
    margin: 0 auto;
 color: rgb(248, 252, 9);
}

#div1 {
    background-color: rgb(131, 161, 90)
}